.container {
  background: linear-gradient(to right, aliceblue, lightblue);
}

.todo-title {
  text-align: center;
  font-size: 25px;
}

.todo-app {
  background-color: white;
  width: 62%;
  margin: auto;
  padding-top: 10px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.todo-input {
  width: 62%;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #dfe1e5;
  padding-left: 2%;
}

.todo-submit {
  background: linear-gradient(to right, darkorange, lightblue);
  color: white;
  border-radius: 0px 5px 5px 0px;
  width: 8%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.todo-form {
  display: flex;
  justify-content: center;
}

.todo-item {
  width: 60%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.todo-delete {
  color: red;
  cursor: pointer;
}

.todo-checkbox {
  cursor: pointer
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}